# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/
.next/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# non-production testing files
.ignore/*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Sentry Config File
.sentryclirc

# output
*.txt
project_tree.pdf

# database
database/generated/
database/sessions/
barcodes_test.pdf

# documentation
docs/

# misc codebase and raw data
public/misc-codebase/
public/raw-data/
public/rathburn/


app/api/barcodes/scan/_drumsOnlyRoute.ts
app/api/drums/sse/_drumsOnlyRoute.ts
.env
.env
